body {
  background-color: rgba(231, 231, 231, 0.692);
}

.profile-container {
  margin-top: 10vh;
}

.profile-photo > img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

@media (max-width: 332px) {
  .edit-btn {
    margin: auto;
  }
}

.file {
  display: none;
}

.file + label {
  font-size: 0.8em;
  padding: 3px;
  display: inline-block;
  cursor: pointer;
}
